.site-header {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 9;

  .title-group {
    padding-left: 25px;
    display: flex;
    align-items: center;

    i {
      padding-right: 5px;
    }
  }
}
